<!DOCTYPE html>
<html style= "height: 100%">
	<head>
		<meta charset="UTF-8">
        {% load i18n %}
		<title>{% trans "Affiche" %}</title>

		<link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/gpl/5.1.0/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css">
		<script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/5.1.0/build/ext-all-debug.js"></script>

		{% load staticfiles %}
		<script type="text/javascript" src="{% static "affiche/affiche.js" %}"></script>
	</head>

	<body style= "height: 100%">
	</body>
</html>
